* {
    padding: 0;
    margin: 0;
}

body {
    background-color:#F8F8F8;
    font-family: "Roboto", sans-serif;

}

main {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #AC2B94;
    font-weight: 600;
    transition-property: color;
    transition-duration: 0.5s;
    &:hover {
        color: #DD8ECE;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #525C68;
    margin-left: 35px;
    padding: 20px 0px;
    letter-spacing: 0.3em;
}

h2 {
    text-transform: uppercase;
    color: #525C68;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    img {
        flex: 1;
        max-width: 400px;
    }
}

.sommaire {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    a {
        text-transform: uppercase;
        font-size: 1.2em;
    }
}

.dropdown {
    position: relative; /* Ajout de la position relative au conteneur parent */
}

.dropdown-content {
    display: none; /* Masquer le menu déroulant par défaut */
    position: absolute; /* Positionnement absolu par rapport au conteneur parent */
    top: 100%; /* Décalage vers le bas */
    left: -40%; /* Alignement à gauche */
    background-color: #f9f9f9;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex; /* Afficher le menu déroulant au survol */
    flex-direction: column;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #AC2B94;
    transition-property: color;
    transition-duration: 0.5s;
    &:hover {
        color: #DD8ECE;
    }
}

.dropdown-content a:hover {
    background-color: #fafafa;
}

.show {
    display: flex;
}







.accueil-container {
    display: flex;
    max-width: 100%;
    padding: 20px;
    margin-bottom: 30px;
}

.accueil-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #525C68;
    h2 {
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    p {
        font-size: 1.2em;
    }

    img {
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 15px #525C68;
        }
    }

    strong {
        color:#818147;
    }
}









/* Style général du formulaire */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #DFDF8A;

    h2 {
        text-transform: uppercase;
        font-size: 1.4em;
        text-align: center;
    }

    &.suppression-button,
    &.deconnexion {
        background-color: rgb(255, 146, 146);
        padding: 0;
        transition-property: background-color;
        transition-duration: 0.5s;
        button {
            background-color: transparent;
            font-size: 0.8em;
        }
        &:hover {
            background-color: rgb(247, 176, 176);
        }
      }
  }
  
  /* Style des champs de formulaire */
  input[type="text"],
  input[type="email"],
  input[type="time"],
  input[type="password"],
  input[type="file"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }
  
  /* Style des boutons */
  input[type="submit"],
  button {
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #667078;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    transition-property: background-color;
    transition-duration: 0.5s;
  }
  
  /* Style des boutons au survol */
  input[type="submit"]:hover,
  button:hover {
    background-color: #788594;
  }
  







  .map-container {
    display: flex;
    justify-content: center;
  }
  
  /* Style de l'iframe */
  .map-iframe {
    width: 90%; 
    height: 600px;
  }









.actualite-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
}

.miniature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color:#DFDF8A;
}


/* Style pour la pop-up */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: none;
    z-index: 999; /* Assure que l'overlay soit au-dessus de tout le contenu */
}

#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#DFDF8A;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    z-index: 1000;
}

#popup h2 {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-transform: uppercase;
}

#popup img {
    max-width: 100%;
    height: auto;
}

#popup p {
    margin: 0;
    text-align: center; /* Centrer le texte */
}

#popup .description {
    font-size: 18px; /* Taille de police plus grande pour la description */
    margin-bottom: 20px; /* Marge plus grande en bas de la description */
}

#popup .infos {
    text-align: center; /* Centrer le texte des informations */
}

#popup .infos p {
    display: inline-block; /* Mettre les éléments des informations sur la même ligne */
    margin-right: 10px; /* Espacement entre les éléments */
}


.particulier-content {
    display: none;
}




.particulier-contenair {
    display: flex;
    width: 100%;

}

.colonne-gauche {
    flex: 1;
    width: 70%;
}

.colonne-droite {
    width: 30%;
}


.particulier-sommaire {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    list-style: none;
    border-left: 2px solid black;
    a {
        font-size: 1.2em;

        &.active {
            font-size: 1.6em;
            text-decoration: underline;
        }
    }
}


.particulier-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 90%;
    padding:20px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #DFDF8A;
    
}

.particulier-titre {
    width: 95%;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    text-transform: uppercase;
}

.particulier-paragraphe {
    line-height: 1.5;
}



.liste-suppression {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.liste-suppression_element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
    padding: 10px;
    border: 2px solid #818147;
    border-radius: 20px;

        form {
            margin: 0;
            padding: 0;
        }
}




footer {
    display: flex;
    justify-content: space-evenly;
}







@media only screen and (max-width: 768px) {

    main {
        padding: 5px;
    }

    h1 {
        font-size: 3.5em;
    }

    header {
        flex-direction: column;
    }
    
    .sommaire {
        flex-direction: column;
        gap: 20px;
    }

    .accueil-container {
        flex-direction: column;
        align-items: center;
    }

    .accueil-content {
        max-width: 80%;
        h2 {
            font-size: 2em;
            letter-spacing: 0;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 1em;
        }
    }

    .actualite-container {
        justify-content: center;
    }

    .particulier-contenair {
        flex-direction: column-reverse; /* Passage à column */
    }

    .particulier-sommaire {
        border-left: none;
    }
    .colonne-gauche {
        width: 90%;
    }
    
    .colonne-droite {
        width: 90%;
    }

    #popup .description {
        overflow-y: auto;
    }
    
}